<ion-header>
  <ion-toolbar>
    <ion-title>Nova Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Nova Password</ion-label>
    <ion-input [(ngModel)]="novaPassword" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Password</ion-label>
    <ion-input [(ngModel)]="confirmarPassword" type="password"></ion-input>
  </ion-item>

  <div *ngIf="erro" class="ion-text-center ion-margin">
    <ion-text color="danger">{{ erro }}</ion-text>
  </div>

  <ion-button expand="block" class="ion-margin-top" (click)="guardar()">
    Guardar
  </ion-button>

</ion-content>
