<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/profile" class="avatar-button">
        <ion-avatar class="avatar-container">
          <img src="assets/images/icon_profile.png" />
          <span class="online-indicator"></span>
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Digital ALL Media</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/pesquisa">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="pagina-home" fullscreen>

  <!-- CARD PRINCIPAL -->
  <ion-card class="featured-card">
    <img src="assets/images/Turquia.jpg" />
    <ion-button class="full-card-button" expand="full" fill="clear" routerLink="/album-preview">
      <ion-icon name="play-circle"></ion-icon>
    </ion-button>
    <div class="card-text">
      <h2>TURQUIA</h2>
      <p>11 Dez 2022</p>
    </div>
  </ion-card>

  <!-- CARD SECUNDÁRIO -->
  <ion-card class="featured-card small">
    <img src="assets/images/praia.jpg" />
  </ion-card>

  <!-- BARRA FLUTUANTE -->
  <div class="floating-bar">
    <ion-button fill="clear" routerLink="/cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button fill="solid" class="main-button" (click)="toggleMenu()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" routerLink="/meus-albuns">
      <ion-icon name="albums-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- MENU POP-UP -->
  <ion-card *ngIf="mostrarMenu" class="popup-menu">
    <ion-item button routerLink="/selecionar-ficheiros" (click)="toggleMenu()" lines="none">
      <ion-icon slot="start" name="folder-open"></ion-icon>
      <ion-label>Create Album</ion-label>
    </ion-item>
    <ion-item button routerLink="/remover-album" (click)="toggleMenu()" lines="none">
      <ion-icon slot="start" name="trash"></ion-icon>
      <ion-label>Remove Album</ion-label>
    </ion-item>
    <ion-item button routerLink="/editar-album" (click)="toggleMenu()" lines="none">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label>Edit Album</ion-label>
    </ion-item>
    <ion-item button routerLink="/editar-ficheiros" (click)="toggleMenu()" lines="none">
      <ion-icon slot="start" name="document-text"></ion-icon>
      <ion-label>Edit File</ion-label>
    </ion-item>
    <ion-item button routerLink="/impressao" (click)="toggleMenu()" lines="none">
      <ion-icon slot="start" name="print"></ion-icon>
      <ion-label>Print</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
