<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <div *ngIf="erro" class="ion-text-center ion-margin">
    <ion-text color="danger">{{ erro }}</ion-text>
  </div>

  <ion-button expand="block" class="ion-margin-top" (click)="enviarCodigo()">
    Enviar Código
  </ion-button>

  <ion-button fill="clear" routerLink="/login">
    Voltar
  </ion-button>

</ion-content>
