<ion-header class="forgot-header">
  <ion-toolbar class="forgot-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="forgot-title">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-bg">
  <div class="forgot-container">

    <p class="forgot-instructions">
      Please enter the login email to reset your password.
    </p>

    <label class="input-label">Email</label>
    <ion-input
      class="input-livre"
      [(ngModel)]="email"
      type="email"
      placeholder="name@example.com"
    ></ion-input>

    <ion-button expand="block" class="forgot-button" (click)="enviarCodigo()">
      Reset Password
    </ion-button>

  </div>
</ion-content>
