
bin/
obj/
node_modules/
.angular/

*.user
*.vspscc
*.vssscc
*.suo
*.userosscache
*.sln.docstates

TestResult.xml
*.trx
*.coverage
*.coveragexml

appsettings.json
appsettings.*.json


*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/


*.log
*.tlog
*.tmp
*.bak


.vs/
.idea/
*.sln.iml

secrets.json


.DS_Store
Thumbs.db
desktop.ini

publish/
