<ion-header class="nova-header">
  <ion-toolbar class="nova-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/verificar-codigo" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="nova-title">Create a New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="nova-bg">
  <div class="nova-container">

    <p class="nova-instructions">
      Please create a new password. For security reasons, make sure it's different from the previous one.
    </p>

    <label class="input-label">New Password</label>
    <ion-input [(ngModel)]="novaPassword" type="password" class="input-livre" placeholder="********"></ion-input>

    <label class="input-label">Confirm Password</label>
    <ion-input [(ngModel)]="confirmarPassword" type="password" class="input-livre" placeholder="********"></ion-input>

    <div *ngIf="erro" class="ion-text-center ion-margin">
      <ion-text color="danger">{{ erro }}</ion-text>
    </div>

    <ion-button expand="block" class="nova-button" (click)="guardar()">
      Update Password
    </ion-button>

  </div>
</ion-content>
