<ion-header>
  <ion-toolbar color="light" class="top-bar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/selecionar-ficheiros"></ion-back-button>
      <ion-avatar class="avatar-perfil">
        <img src="assets/images/icon_profile.png" alt="Profile Picture" />
      </ion-avatar>
    </ion-buttons>

    <ion-title class="top-title">Digital ALL Media</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Title + Cancel -->
  <div class="topo-form">
    <h1 class="form-header">Create Album</h1>
    <ion-button size="small" fill="solid" class="cancel-inline" (click)="cancelar()">
      Cancel
    </ion-button>
  </div>

  <form [formGroup]="albumForm">

    <ion-label class="input-label" for="albumName">Album Name</ion-label>
    <ion-input
      id="albumName"
      formControlName="albumName"
      placeholder="ex: trip to belgium">
    </ion-input>
    <ion-text color="danger" *ngIf="albumForm.get('albumName')?.touched && albumForm.get('albumName')?.invalid">
      Album Name is required.
    </ion-text>

    <ion-label class="input-label" for="albumDescription">Description</ion-label>
    <ion-textarea
      id="albumDescription"
      formControlName="albumDescription"
      placeholder="Optional note...">
    </ion-textarea>

    <ion-label class="input-label">Music</ion-label>
    <ion-button expand="block" class="botao-musica" (click)="adicionarMusica()">
      <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
      {{ musicaSelecionada ? musicaSelecionada : 'Add Music' }}
    </ion-button>

    <ion-button expand="block" class="botao-login" (click)="guardarAlbum()">
      <ion-icon name="folder-outline" slot="start"></ion-icon>
      Save Album
    </ion-button>

  </form>

  <!-- Image Grid -->
  <ion-grid *ngIf="ficheirosSelecionados.length > 0">
    <ion-row>
      <ion-col size="4" *ngFor="let img of ficheirosSelecionados">
        <ion-card class="imagem-selecionada">
          <img [src]="img.caminho" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
