<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/profile" class="avatar-button">
        <ion-avatar class="avatar-container">
          <img src="assets/images/icon_profile.png" />
          <span class="online-indicator"></span>
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Digital ALL Media</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="pagina ion-padding" fullscreen>
  <!-- Top bar with title and cancel button -->
  <div class="top-bar">
    <h2 class="form-title">Create Album</h2>
    <ion-button fill="solid" class="cancelar-button-inline" routerLink="/tabs">
      Cancel
    </ion-button>
  </div>

  <div class="formulario">
    <ion-label class="form-label">Album Name</ion-label>
    <ion-input placeholder="e.g., Belgium Trip" class="custom-input" fill="solid"></ion-input>

    <ion-label class="form-label">Description</ion-label>
    <ion-textarea placeholder="Add an optional note..." class="custom-input" autoGrow="true"></ion-textarea>

    <ion-label class="form-label">Album Music</ion-label>
    <ion-button expand="block" class="musica-button" routerLink="/escolher-musica">
      <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
      Add Music
    </ion-button>

    <ion-label class="form-label label-fotos">Selected Photos</ion-label>
    <div class="selected-images">
      <img
        *ngFor="let ficheiro of ficheirosSelecionados"
        [src]="ficheiro.url || ficheiro.base64 || ficheiro.caminho"
        class="thumbnail"
        alt="selected photo"
      />
    </div>
  </div>

  <div class="botoes-fixos">
    <ion-button expand="block" class="guardar-button">
      <ion-icon name="folder-open-outline" slot="start"></ion-icon>
      Save Album
    </ion-button>
  </div>
</ion-content>
