<ion-header>
  <ion-toolbar>
    <ion-title>Verificar Código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Código</ion-label>
    <ion-input [(ngModel)]="codigo" type="text" maxlength="6"></ion-input>
  </ion-item>

  <div *ngIf="erro" class="ion-text-center ion-margin">
    <ion-text color="danger">{{ erro }}</ion-text>
  </div>

  <ion-button expand="block" class="ion-margin-top" (click)="verificar()">
    Confirmar
  </ion-button>

</ion-content>
