<ion-header>
  <ion-toolbar color="light" class="top-bar">
  <ion-buttons slot="start">
    <ion-avatar class="avatar-perfil">
      <img src="assets/images/icon_profile.png" alt="Profile Picture">
    </ion-avatar>
  </ion-buttons>

  <ion-title class="top-title">Digital ALL Media</ion-title>

  <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div class="segment-wrapper">
    <ion-segment [(ngModel)]="segmento" value="recentes">
      <ion-segment-button value="recentes">
        <ion-label>Recents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cloud">
        <ion-label>Cloud</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let item of ficheiros; let i = index">
        <ion-card (click)="alternarSelecao(i)" [class.selected]="item.selecionado">
          <img [src]="item.thumbnail" />
          <div class="duracao">{{ item.duracao }}</div>
          <ion-icon *ngIf="item.selecionado" name="checkmark-circle" class="check-icon"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="footer">
  <ion-button expand="block" class="botao-continuar" (click)="continuar()">Continue</ion-button>
</ion-footer>
