<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="solid" size="small" class="cancel-inline" [routerLink]="['/criar-album']">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title class="top-title">Add Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="search-wrapper">
    <ion-searchbar placeholder="Search music..." [(ngModel)]="searchTerm" (ionInput)="filtrarMusicas()">
    </ion-searchbar>
  </div>

  <div class="music-segment">
    <ion-segment [(ngModel)]="abaAtual" (ionChange)="trocarAba(($event.detail.value || 'default') + '')">
      <ion-segment-button value="default">
        <ion-label>Available</ion-label>
      </ion-segment-button>
      <ion-segment-button value="saved">
        <ion-label>Saved</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ng-container *ngIf="musicasFiltradas.length > 0; else noMusicas">
      <ion-item *ngFor="let musica of musicasFiltradas" [class.playing]="musica === musicaAtual" class="music-card">
        <ion-thumbnail slot="start" (click)="togglePreview(musica)">
          <ion-icon name="musical-notes" class="music-icon"></ion-icon>
        </ion-thumbnail>

        <ion-label class="music-info" (click)="togglePreview(musica)">
          <h3>{{ musica.titulo }}</h3>
        </ion-label>

        <ion-button *ngIf="abaAtual === 'default'" size="small" fill="solid" class="add-btn" slot="end"
          (click)="selecionarMusica(musica)">
          {{ estaSelecionada(musica) ? 'Add' : '' }}
          <ion-icon *ngIf="!estaSelecionada(musica)" name="download-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="abaAtual === 'saved'" size="small" fill="outline" color="danger" class="remove-btn"
          slot="end" (click)="removerMusica(musica)">
          Remove
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-template #noMusicas>
    <div class="no-music-msg">
      <p><strong>No songs were saved yet!</strong></p>
    </div>
  </ng-template>

  <div class="footer-btn">
    <ion-button expand="block" class="save-btn" (click)="guardarMusica()">
      Save Selection
    </ion-button>
  </div>

</ion-content>
