<ion-content class="login-bg">
  <div class="login-container">
    <h2 class="titulo-login">
      Login <ion-icon name="person-circle-outline"></ion-icon>
    </h2>
    <p class="subtitulo">Welcome back!</p>

    <img src="assets/images/logo.png" class="logo-img" alt="Logo" />

    <!-- CAMPO EMAIL -->
    <label class="input-label">Email</label>
    <ion-input
      class="input-livre"
      [(ngModel)]="email"
      type="email"
      placeholder="your@email.com"
    ></ion-input>

    <!-- CAMPO PASSWORD -->
    <label class="input-label">Password</label>
    <ion-input
      class="input-livre"
      [(ngModel)]="password"
      type="password"
      placeholder="********"
    ></ion-input>

    <!-- MENSAGEM DE ERRO -->
    <div style="width: 100%;">
      <p *ngIf="erroLogin" class="erro-login-msg">
        {{ erroLogin }}
      </p>
    </div>


    <!-- LINK PARA RECUPERAR PALAVRA-PASSE -->
    <p class="recuperar-senha" routerLink="/recuperar-password">
      Forgot your password?
    </p>

    <!-- BOTÃO DE LOGIN -->
    <ion-button expand="block" class="botao-login" (click)="login()">
      Login
    </ion-button>

    <!-- LINK PARA CRIAR CONTA -->
    <p class="criar-conta">
      Don’t have an account?
      <span class="link" routerLink="/signup">Sign up</span>
    </p>
  </div>
</ion-content>
