<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/impressao">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add File</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Segment -->
  <div class="segment-wrapper">
    <ion-segment [(ngModel)]="segmentValue" mode="ios">
      <ion-segment-button value="recents">
        <ion-label>Recents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="albums">
        <ion-label>Albums</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Grid of images -->
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let img of imagens; let i = index">
        <div class="photo-card" [class.selected]="isSelected(i)" (click)="toggleSelection(i)">
          <img [src]="img" />
        </div>
      </ion-col>

      <!-- Upload button -->
      <ion-col size="4">
        <div class="photo-card upload-card" (click)="triggerFileInput()">
          <ion-icon name="add-outline" class="upload-icon"></ion-icon>
          <input type="file" hidden (change)="onFileSelected($event)" #fileInput>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Add button -->
  <ion-button expand="block"
              class="add-btn"
              [disabled]="selectedIndexes.length === 0"
              (click)="adicionarSelecionadas()">
    <ion-icon name="add-circle" slot="start"></ion-icon>
    Add
  </ion-button>
</ion-content>
